<div id="map"></div>

<h3>Please, fill this form and click your waypoints, to create a new route</h3>

<button id="initMap">Begin to introduce points in the map </button>
<form action="/rutas/crear" method="POST">
  <input type="text" name="name" placeholder="Route Name" required>
  <input type="text" name="description" placeholder="Route Description" required>
  <input type="text" name="origen" placeholder="Origin Place" required>
  <input type="text" name="destination" placeholder="Destination Place" required>
  <input type="hidden" name="stations" id="stations">
  {{!-- creatorId: { type: Schema.Types.ObjectId, ref: 'User' },
  comments: [ { type: Schema.Types.ObjectId, ref: 'Comment' } ],
  photos: [ { type: Schema.Types.ObjectId, ref: 'Photo' } ],
   --}}
  
  <button id="create-newRoute">Click to save Route</button>
  </form>
  

  {{!-- <script>
    window.selectedRoute = "{{oneRoute._id}}"
  </script> --}}


<script>

window.onload = initMap;

var waypts = [];
var stations = [];
var lat = 0;
var lng = 0;
var contClick = 0;

function initMap() {
	var directionsService = new google.maps.DirectionsService();
	var directionsDisplay = new google.maps.DirectionsRenderer();
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 12,
		center: { lat: 27.967, lng: -15.57 }
	});

	map.addListener('click', function(e) {
		lat = e.latLng.lat();
		lng = e.latLng.lng();
		contClick += 1;
		

		new google.maps.Marker({
			map: map,
			position: {
				lat: lat,
				lng: lng
			}
		});

		stations.push({ lat: lat, lng: lng, name: `Station: ${contClick}` });
    console.log(stations)
    document.querySelector("#stations").value = JSON.stringify(stations);
		waypts.push({
			location: new google.maps.LatLng(lat, lng),
			stopover: true
		});
	});

	directionsDisplay.setMap(map);

	
}




</script>
