<div id="map"></div>

<h3>Please, fill this form and click your waypoints, to create a new route</h3>


<form action="/rutas/crear" method="POST">
  <input type="text" name="name" placeholder="Route Name" required>
  <input type="text" name="description" placeholder="Route Description" required>
  <input type="text" name="origen" placeholder="Origin Place" required>
  <input type="text" name="destination" placeholder="Destination Place" required>
  <input type="hidden" name="stations" id="stations">
  <button id="create-newRoute">Click to save Route</button>
  </form>

  <button id="now">Draw</button>


<script>

window.onload = initMap;

var waypts = [];
var stations = [];
var lat = 0;
var lng = 0;
var contClick = 0;

function initMap() {
	var directionsService = new google.maps.DirectionsService();
	var directionsDisplay = new google.maps.DirectionsRenderer();
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 12,
		center: { lat: 27.967, lng: -15.57 }
	});

	map.addListener('click', function(e) {
    
		lat = e.latLng.lat();
		lng = e.latLng.lng();

		contClick += 1;
		

		new google.maps.Marker({
			map: map,
			position: {
				lat: lat,
				lng: lng
			}
		});

		stations.push({ lat: lat, lng: lng, name: `Station: ${contClick}` });

    
    document.querySelector("#stations").value = JSON.stringify(stations);
		
    waypts.push({
			location: new google.maps.LatLng(lat, lng),
			stopover: true
		});
	});

	directionsDisplay.setMap(map);

  document.getElementById("now").onclick = function () {
  calculateAndDisplayRoute(directionsService, directionsDisplay);
  }

	
}

function calculateAndDisplayRoute(directionsService, directionsDisplay) {
      directionsService.route({
        origin: "Tejeda",
        destination:  "Artenara",
        waypoints: waypts,
        optimizeWaypoints: true,
        travelMode: 'WALKING'
      }, function (response, status) {
        if (status === 'OK') {
          directionsDisplay.setDirections(response);

        } else {
          window.alert('Directions request failed due to ' + status);
        }
      });
    }
</script>

<script>

map.addListener('click', function (e) {
        
        lat = e.latLng.lat()
        lng = e.latLng.lng()
        contClick +=1
        
        new google.maps.Marker({
          map: map,
          position: {
            lat: lat,
            lng: lng,
          }
          
        })

        route.push({lat: lat, lng: lng, name: `Station: ${contClick}`})
        console.log(route)
        waypts.push({
          location: new google.maps.LatLng(lat, lng),
          stopover: true
          
        });
       
      });

      directionsDisplay.setMap(map);

      document.getElementById("now").onclick = function () {
        calculateAndDisplayRoute(directionsService, directionsDisplay);
      }
    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
      directionsService.route({
        origin: "Tejeda",
        destination:  "Artenara",
        waypoints: waypts,
        optimizeWaypoints: true,
        travelMode: 'WALKING'
      }, function (response, status) {
        if (status === 'OK') {
          directionsDisplay.setDirections(response);

        } else {
          window.alert('Directions request failed due to ' + status);
        }
      });
    }
  </script>
  
  
</script>