

<div class="mostrar-una">
  <h2>Route Information</h2>
  <div class="info-ruta">
    <br>
    <p>Route name: {{ruta.name}}</p>
    <p>Description: {{ruta.description}}</p>
    <p>Journey: {{ruta.origen}}/{{ruta.destination}}</p>
    

  </div>
