<div class="div-home">
  <h2 class="welcome-user">Welcome {{user.username}}!</h2>
  <nav id="menu">


    <p><a href="/rutas/predefinidas">Search route</a></p>
    <p><a href="/rutas/crear">Create route</a></p>
    <p><a href="/rutas/misrutas">My routes</a></p>
    



  </nav>
</div>