<div>
  <h2>¡Bienvenido {{user.username}}!</h2>
  <nav id="menu">

    <ul>
      <li><a href="/rutas/predefinidas">Rutas predefinidas</a></li>
      <li><a href="/rutas/crear">Crear ruta</a></li>
      <li><a href="/rutas/misrutas">Mis rutas</a></li>
      <li><a href="/rutas/favorito">Favoritos</a></li>
    </ul>


  </nav>
</div>