<div>
  <h2 class="welcome-user">Welcome {{user.username}}!</h2>
  <nav id="menu">


    <p><a href="/rutas/predefinidas">Rutas predefinidas</a></p>
    <p><a href="/rutas/crear">Crear ruta</a></p>
    <p><a href="/rutas/misrutas">Mis rutas</a></p>
    <p><a href="/rutas/favorito">Favoritos</a></p>



  </nav>
</div>