<form method="POST" action="/rutas/predefinidas">
  <select>
    <option selected value="origen">Origen</option>
    <option>{{routes.origen}}</option>
  </select>
  <br><select>
    <option selected value="destino">Destino</option>
    <option>Ciudad Real</option>
  </select>
  <p>MI MAPA</p>
  <button type="submit">Buscar</button>

</form>

